<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<article th:fragment="bbsPopup()" xmlns:th="http://www.thymeleaf.org">

	<th:block>
	
		<body>
		
			<!-- Modal -->
			<div class="modal fade" id="bbsPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				
					<div class="modal-content">
					
						<div class="modal-header">
							<h5 class="modal-title" id="sta_titleBBS">공지사항 등록</h5>
							<div class="ml-auto">
								<button id="btn_saveBBS" type="button" 
								        class="btn btn-primary modal-header-button" onclick="saveBBS()"><b>수정</b></button>
								<button id="btn_deleteBBS" type="button" class="btn btn-danger modal-header-button" onclick="deleteBBS()"><b>삭제</b></button>
								<button type="button" class="btn btn-light modal-header-button" onclick="closeBBS()"><b>닫기</b></button>
							</div>
						</div>
						
						<div class="modal-body">
							<div class="card-body">
								<form id="bbsForm" name="noticeBody" method="post">
									
									<input id="fv_gbnBBS" type="hidden">
									<input id="fv_sidBBS" type="hidden">
									<input id="fv_cidBBS" type="hidden">
									<input id="fv_bidBBS" type="hidden">
									
									<div class="row" id="upr_title">
										<div class="col-md-8">
											<div class="form-group" id="grp_titleBBS">
												<label id="codeTitleBBS" class="bmd-label-floating">제목</label>
												<input id="edt_titleBBS" type="text" class="form-control" required>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" id="grp_contentBBS">
												<label class="bmd-label-floating">내용</label>
												<textarea class="form-control" id="ta_contentBBS" rows="5" required></textarea>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-8">
											<div class="form-group" id="grp_linkBBS">
												<label class="bmd-label-floating">링크</label>
												<input id="edt_linkBBS" type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">대상건물</label>
												<select class="form-control custom-select"
												        id="cmb_buildBBS" required>
												    <option th:each="initBuildVO: ${initBuildVO}" 
												            th:value="${initBuildVO.bid}"
												            th:text="${initBuildVO.bnm}"/>
												</select>
											</div>
										</div>
										
									</div>
									
									<div class="row">
										<div class="col-md-12">
											
											<label class="bmd-label-floating">첨부</label>
											<div class="input-group">
												<input id="inputFileBBS" type="file" class="form-control">
												<input id="edt_fileBBS" type="type" class="form-control" style="display: none; background-color: white;display: block;" disabled="disabled" readonly="readonly" >
												
					                            <button type="button" id="btn_downloadBBS"
					                                    rel="tooltip" title="download" 
					                                    onclick="downloadBBS()"
					                                    class="btn btn-primary btn-link btn-sm">
					                            <i class="material-icons">save_alt</i>
					                            </button>
					                            
					                            <button type="button" id="btn_delFileBBS"
					                                    rel="tooltip" title="Delete" 
					                                    onclick="deleteFileBBS()"
					                                    class="btn btn-danger btn-link btn-sm">
					                            <i class="material-icons">close</i>
					                            </button>
											</div>
										</div>
										
									</div>
									
									<div class="row" id="grp_errorBBS">
										<div class="text-right p-t-13 p-b-23 col-md-12">
								            <p id="errorBBS" style="font-size: 20; color: #FF1C19; visibility: hidden;">중복된 데이터가 존재합니다.</p>
										</div>
									</div>
									
									<div class="row" id="grp_answerBBS">
										<div class="col-md-10">
											<div class="form-group" id="input_grp_answerBBS">
												<label class="bmd-label-floating">댓글</label>
												<textarea class="form-control" id="edt_answerBBS" rows="2"></textarea>
											</div>
										</div>
										
										<div class="col-md-2">
											<button type="button" class="btn btn-primary float-md-right" onclick="insertBBS()">추가</button>
										</div>
									</div>
									
									<hr>
									
									<div class="row" id="grp_answerBBS_content">
										<div class="col-md-12">
											<table class="table table-hover" id="answerBBS">
												<colgroup>
											       <col span="1" style="width: 10%;">
											       <col span="1" style="width: 77%;">
											       <col span="1" style="width: 10%;">
											       <col span="1" style="width: 3%;">
											    </colgroup>
						                    	<tbody>
						                        	<tr th:each="answerList : ${answerList}">
							                          	<td th:text="${answerList.writer}" style="font-weight: bold;">title</td>
						                          		<td th:text="${answerList.content}" style="white-space:pre;">title</td>
						                          		
							                          	<td th:text="${answerList.writedate}">title</td>
							                          	
							                          	<td class="text-right">
								                          	<button type="button" rel="tooltip" title="Remove" 
								                                    class="btn btn-danger btn-link btn-sm"
								                                    th:onclick="deleteAnswerBBS([[${answerList}]])"
								                                    th:if="${answerList.isupdate}">
								                              <i class="material-icons">close</i>
								                            </button>
							                            </td>
						                        	</tr>
						                      	</tbody>
						                    </table>
										</div>
									</div>
									
								</form>
							</div>
						</div>
						
						<div class="modal-footer">
						</div>
						
					</div>
					
				</div>
				
			</div>
		
		</body>
		
	</th:block>
	  
	<script th:inline="javascript">
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	function saveBBS() {
		
		var fv_gbn = $("#fv_gbnBBS").val();
		
		var formData = new FormData(); 
		formData.append("title", $("#edt_titleBBS").val()); 
		formData.append("content", $("#ta_contentBBS").val()); 
		formData.append("file", $("#inputFileBBS")[0].files[0]);
		formData.append("link", $("#edt_linkBBS").val()); 
		formData.append("bid", $("#cmb_buildBBS").val());
		formData.append("notice", 0); 
		
		var isChk = true;
		
		console.log($("#edt_titleBBS").val());
		
		if($("#edt_titleBBS").val() == "") {
			showNotification('new_releases', 'warning', 'top', 'center', "제목은 필수 입력항목 입니다.");
			$("#edt_titleBBS").focus();
			isChk = false;
		}
		
		if($("#ta_contentBBS").val() == "") {
			showNotification('new_releases', 'warning', 'top', 'center', "내용은 필수 입력항목 입니다.");
			$("#ta_contentBBS").focus();
			isChk = false;
		}
		
		if($("#cmb_buildBBS").val() == "-1") {
			showNotification('new_releases', 'warning', 'top', 'center', "대상건물은 필수 입력항목 입니다.");
			$("#cmb_buildBBS").focus();
			isChk = false;
		}
		
		if(!isChk) {
			return;
		}
		
		var fv_url = "/" + fv_gbn + "Notice"
		
		var rtn = false;
		if(fv_gbn == "update") {
			
			formData.append("sid", $("#fv_sidBBS").val());
			formData.append("cid", $("#fv_cidBBS").val());
			
			rtn = confirm("저장하시겠습니까?");
			
			if(rtn) {
				$.ajax({
					type : "POST",
					data : formData,
				    processData: false,    // 반드시 작성
				    contentType: false,    // 반드시 작성
					beforeSend : function(xhr)
		          	{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
			    	},
					url : fv_url,
					success : function(data) {
						if(data.CODE == "0") {
							showNotification('info', 'info', 'top', 'right', '정상처리되었습니다.');
							$("#bbsPopup").modal("hide");
						} else {
							showNotification('info', 'danger', 'top', 'center', data.MSG);
						}
					}
				});
			}
			
		} else {
			$.ajax({
				type : "POST",
				data : formData,
			    processData: false,    // 반드시 작성
			    contentType: false,    // 반드시 작성
				beforeSend : function(xhr)
	          	{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
		    	},
				url : fv_url,
				success : function(data) {
					if(data.CODE == "0") {
						showNotification('info', 'info', 'top', 'right', '정상처리되었습니다.');
						$("#bbsPopup").modal("hide");
					} else {
						showNotification('info', 'danger', 'top', 'center', data.MSG);
					}
				}
			});
		}
		
	}
	
	function deleteBBS(title, sid, cid, bid) {
			
		var fv_sid = $("#fv_sidBBS").val();
		var fv_cid = $("#fv_cidBBS").val();
		var fv_bid = $("#fv_bidBBS").val();
		
		var rtn = confirm("게시물을 삭제하시겠습니까?");
		
		if(rtn) {
		
			$.ajax({
					type : "POST",
					data : {"sid" : fv_sid, "cid" : fv_cid, "bid" : fv_bid},
					beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					url : "/deleteNotice",
					success : function(data) {
						showNotification('info', 'info', 'top', 'right', '정상처리되었습니다.');
						$("#bbsPopup").modal("hide");
	                }
			});
		}
		
	}
	
	
	function downloadBBS() {
		
		var fv_sid = $("#fv_sidBBS").val();
		var fv_cid = $("#fv_cidBBS").val();
		var fv_bid = $("#fv_bidBBS").val();
		
		window.location.href = "/downloadNotice?sid=" + fv_sid + "&cid=" + fv_cid + "&bid=" + fv_bid;
	}
	
	function deleteFileBBS() {
		$("#inputFileBBS").css("display","initial");
		$("#edt_fileBBS").css("display","none");
	}
	
	function insertBBS() {
		
		var fv_answer = $("#edt_answerBBS").val();
		var fv_sid = $("#fv_sidBBS").val();
		var fv_bid = $("#fv_bidBBS").val();
		
		if(fv_answer == "") {
			showNotification('new_releases', 'warning', 'top', 'center', "댓글은 필수 입력항목 입니다.");
			return;
		}
		
		$.ajax({
				type : "POST",
				data : {"sid" : fv_sid, "bid" : fv_bid, "type" : "BBS", "content" : fv_answer},
				async: false,
				beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				url : "/insertAnswer",
				success : function(data) {
					//$("#input_grp_answerBBS").removeClass("is-filled");
					//$("#edt_answerBBS").val("");
					showNotification('info', 'info', 'top', 'right', '정상처리되었습니다.');
					
					//$("#answerBBS").replaceWith(data);
					$("#bbsPopup").modal("hide");
                }
		});
	}
	
	function selectAnswerBBS() {
		console.log("selectAnswerBBS");
		var fv_sid = $("#fv_sidBBS").val();
		var fv_bid = $("#fv_bidBBS").val();
		
		$.ajax({
				type : "POST",
				data : {"sid" : fv_sid, "bid" : fv_bid},
				async: false,
				beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				url : "/selectAnswerBBS",
				success : function(data) {
					$("#answerBBS").replaceWith(data);
                }
		});
	}
	
	function deleteAnswerBBS(arg) {
		
		var rtn = confirm("댓글을 삭제하시겠습니까?");
		
		if(rtn) {
			console.log(arg);
			$.ajax({
				type : "POST",
				data : {"sid" : arg.sid, "cid" : arg.cid, "bid" : arg.bid},
				async: false,
				beforeSend : function(xhr)
	            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
	            },
				url : "/deleteAnswerBBS",
				success : function(data) {
					$("#answerBBS").replaceWith(data);
                }
			});
		}
		
	}
	
	function closeBBS() {
		bbsPop = false
		$("#bbsPopup").modal("hide");
	}
	
	</script>
	
</article>

</html>