<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<article th:fragment="bbsPopup()" xmlns:th="http://www.thymeleaf.org">

	<th:block>
	
		<body>
		
			<!-- Modal -->
			<div class="modal fade" id="bbsPopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				
					<div class="modal-content">
					
						<div class="modal-header">
							<h5 class="modal-title" id="sta_title">게시물 등록</h5>
							<div class="ml-auto">
								<button id="btn_save" type="button" 
								        class="btn btn-primary modal-header-button" onclick="saveNotice()"><b>수정</b></button>
								<button id="btn_delete" type="button" class="btn btn-danger modal-header-button" onclick="modifyAuth()"><b>삭제</b></button>
								<button type="button" class="btn btn-secondary modal-header-button" data-dismiss="modal"><b>닫기</b></button>
							</div>
						</div>
						
						<div class="modal-body">
							<div class="card-body">
								<form id="noticeForm" name="noticeBody" method="post">
									
									<input id="fv_gbn" type="hidden">
									<input id="fv_sid" type="hidden">
									<input id="fv_cid" type="hidden">
									<input id="fv_bid" type="hidden">
									
									<div class="row" id="upr_title">
										<div class="col-md-8">
											<div class="form-group" id="grp_title">
												<label id="codeTitle" class="bmd-label-floating">제목</label>
												<input id="edt_title" type="text" class="form-control" required>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" id="grp_content">
												<label class="bmd-label-floating">내용</label>
												<textarea class="form-control" id="ta_content" rows="5" required></textarea>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-8">
											<div class="form-group" id="grp_link">
												<label class="bmd-label-floating">링크</label>
												<input id="edt_link" type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
												<label class="bmd-label-floating">대상건물</label>
												<select class="form-control custom-select"
												        id="cmb_build" required>
												    <option th:each="initBuildVO: ${initBuildVO}" 
												            th:value="${initBuildVO.bid}"
												            th:text="${initBuildVO.bnm}"/>
												</select>
											</div>
										</div>
										
									</div>
									
									<div class="row">
										<div class="col-md-12">
											
											<label class="bmd-label-floating">첨부</label>
											<div class="input-group">
												<input id="inputFile" type="file" class="form-control">
												<input id="edt_file" type="type" class="form-control" style="display: none; background-color: white;display: block;" disabled="disabled" readonly="readonly" >
												
					                            <button type="button" id="btn_download"
					                                    rel="tooltip" title="download" 
					                                    onclick="download()"
					                                    class="btn btn-primary btn-link btn-sm">
					                            <i class="material-icons">save_alt</i>
					                            </button>
					                            
					                            <button type="button" id="btn_delFile"
					                                    rel="tooltip" title="Delete" 
					                                    onclick="deleteFile()"
					                                    class="btn btn-danger btn-link btn-sm">
					                            <i class="material-icons">close</i>
					                            </button>
											</div>
										</div>
										
									</div>
									
									<div class="row" id="grp_error">
										<div class="text-right p-t-13 p-b-23 col-md-12">
								            <p id="error" style="font-size: 20; color: #FF1C19; visibility: hidden;">중복된 데이터가 존재합니다.</p>
										</div>
									</div>
									
								</form>
							</div>
						</div>
						<div class="modal-footer">
						</div>
					</div>
					
				</div>
				
			</div>
		
		</body>
		
	</th:block>
	  
	<script th:inline="javascript">
    var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	function saveNotice() {
		
		var fv_gbn = $("#fv_gbn").val();
		
		var formData = new FormData(); 
		formData.append("title", $("#edt_title").val()); 
		formData.append("content", $("#ta_content").val()); 
		formData.append("file", $("#inputFile")[0].files[0]);
		formData.append("link", $("#edt_link").val()); 
		formData.append("bid", $("#cmb_build").val());
		formData.append("notice", 0); 
		
		var isChk = true;
		
		if($("#edt_title").val() == "") {
			showNotification('new_releases', 'warning', 'top', 'center', "제목은 필수 입력항목 입니다.");
			$("#edt_title").focus();
			isChk = false;
		}
		
		if($("#ta_content").val() == "") {
			showNotification('new_releases', 'warning', 'top', 'center', "내용은 필수 입력항목 입니다.");
			$("#ta_content").focus();
			isChk = false;
		}
		
		if($("#cmb_build").val() == "-1") {
			showNotification('new_releases', 'warning', 'top', 'center', "대상건물은 필수 입력항목 입니다.");
			$("#cmb_build").focus();
			isChk = false;
		}
		
		if(!isChk) {
			return;
		}
		
		var fv_url = "/" + fv_gbn + "Notice"
		
		var rtn = false;
		if(fv_gbn == "update") {
			
			formData.append("sid", $("#fv_sid").val());
			formData.append("cid", $("#fv_cid").val());
			
			rtn = confirm("저장하시겠습니까?");
			
			if(rtn) {
				$.ajax({
					type : "POST",
					data : formData,
				    processData: false,    // 반드시 작성
				    contentType: false,    // 반드시 작성
					beforeSend : function(xhr)
		          	{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
			    	},
					url : fv_url,
					success : function(data) {
						if(data.CODE == "0") {
							$("#bbsPopup").modal("hide");
						} else {
							showNotification('info', 'danger', 'top', 'center', data.MSG);
						}
					}
				});
			}
			
		} else {
			$.ajax({
				type : "POST",
				data : formData,
			    processData: false,    // 반드시 작성
			    contentType: false,    // 반드시 작성
				beforeSend : function(xhr)
	          	{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
					xhr.setRequestHeader(header, token);
		    	},
				url : fv_url,
				success : function(data) {
					if(data.CODE == "0") {
						$("#bbsPopup").modal("hide");
					} else {
						showNotification('info', 'danger', 'top', 'center', data.MSG);
					}
				}
			});
		}
		
	}
	
	function download() {
		
		var fv_sid = $("#fv_sid").val();
		var fv_cid = $("#fv_cid").val();
		var fv_bid = $("#fv_bid").val();
		
		window.location.href = "/downloadNotice?sid=" + fv_sid + "&cid=" + fv_cid + "&bid=" + fv_bid;
	}
	
	function deleteFile() {
		$("#inputFile").css("display","initial");
		$("#edt_file").css("display","none");
	}
	</script>
	
</article>

</html>