<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<article th:fragment="ChangePassword()" xmlns:th="http://www.thymeleaf.org">

	<th:block>
	
		<body>
		
			<!-- Modal -->
			<div class="modal fade" id="ChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			
				<div class="modal-dialog modal-dialog-centered" role="document">
				
					<div class="modal-content">
					
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">비밀번호 변경</h5>
						<input id="edt_type" hidden="true" value="">
						<input id="uid" hidden="true" value="">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						</div>
						
						<div class="modal-body">
							<div class="card-body">
								<form>
								
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">비밀번호 변경</label>
												<input id="edt_password" type="password" class="form-control">
											</div>
										</div>
									</div>
									
									<div class="row"><br></div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="bmd-label-floating">비밀번호 확인</label>
												<input id="edt_confirmpassword" type="password" class="form-control">
											</div>
										</div>
									</div>
									
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
							<button type="button" class="btn btn-primary" onclick="changePassword()">저장</button>
						</div>
					</div>
					
				</div>
				
			</div>
		
		</body>
		
	</th:block>
	
	<script th:inline="javascript">
	function changePassword() {
		var token = $("meta[name='_csrf']").attr('content');
	    var header = $("meta[name='_csrf_header']").attr('content');
	    
	    if(token && header) {
	        $(document).ajaxSend(function(event, xhr, options) {
	            xhr.setRequestHeader(header, token);
	        });
	    }
	    
		var fv_pw = $("#edt_password").val();
		var fv_confirmpw = $("#edt_confirmpassword").val();
		
		if(fv_pw != fv_confirmpw) {
			showNotification('new_releases', 'warning', 'top', 'center', "비밀번호가 일치하지 않습니다.");
			return;
		}
		
	  	$.ajax({
			type : "POST",
			data : { "userpw" : fv_pw},
			beforeSend : function(xhr)
          	{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
	    	},
			url : "/changePassword",
			success : function(data) {
				if(data.CODE == "0") {
					showNotification('info', 'info', 'top', 'center', data.MSG);
					$("#ChangePassword").modal("hide");
				} else {
					showNotification('info', 'danger', 'top', 'center', data.MSG);
				}
			}
		});
	}
	</script>
	
</article>

</html>