<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<article th:fragment="uprCodePopup()" xmlns:th="http://www.thymeleaf.org">

	<th:block>
	
		<body>
		
			<!-- Modal -->
			<div class="modal fade" id="uprCodePopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			
				<div class="modal-dialog modal-dialog-centered" role="document">
				
					<div class="modal-content">
					
						<div class="modal-header">
						<h5 class="modal-title" id="sta_title">신규 코드 추가</h5>
						<input id="edt_uprType" hidden="true" value="">
						<input id="edt_uprGbn" hidden="true" value="">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						</div>
						
						<div class="modal-body">
							<div class="card-body">
								<form>
								
									<div class="row">
										<div class="col-md-6">
											<div class="form-group" id="grp_upr_cd">
												<label id="codeTitle" class="bmd-label-floating">코드 그룹</label>
												<input id="upr_cd" type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="form-group" id="grp_upr_cd_nm">
												<label class="bmd-label-floating">코드명</label>
												<input id="upr_cd_nm" type="text" class="form-control">
											</div>
										</div>
										
									</div>
									
									<div class="row">
										<div class="col-md-4">
											<div class="form-group" id="grp_upr_sort">
												<label class="bmd-label-floating">정렬</label>
												<input id="upr_sort" type="number" class="form-control">
											</div>
										</div>
										
										<div class="col-md-4">
										</div>
										
										<div class="col-md-4">
										</div>
										
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" id="grp_upr_comment">
												<label class="bmd-label-floating">비고</label>
												<input id="upr_comment" type="text" class="form-control">
											</div>
										</div>
										
									</div>
									
									<div class="row">
										<div class="text-right p-t-13 p-b-23 col-md-12">
								            <p id="error" style="font-size: 20; color: #FF1C19; visibility: hidden;">중복된 데이터가 존재합니다.</p>
										</div>
									</div>
									
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="button" class="btn btn-primary" onclick="modifyUprCode()">저장</button>
						</div>
					</div>
					
				</div>
				
			</div>
		
		</body>
		
	</th:block>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");
	
	function modifyUprCode() {
	
		var cd = $("#upr_cd").val();
		var cd_nm = $("#upr_cd_nm").val();
		var sort = $("#upr_sort").val();
	  	var comment = $("#upr_comment").val();
	  	var type = $("#edt_uprType").val();
		var gbn = $("#edt_uprGbn").val();
		
		var fv_url = type + "Code";
		
	  	$.ajax({
			type : "POST",
			data : {"cd" : cd, "cd_nm" : cd_nm, "sort" : sort, "comment" : comment, "gbn" : gbn},
			beforeSend : function(xhr)
          	{   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
	    	},
			url : fv_url,
			success : function(data) {
				if(data.CODE == "0") {
					$("#error").css('visibility', 'hidden');
					$("#uprCodePopup").modal("hide");
				} else if(data.CODE == 19) {
					$("#error").text(data.MSG);
					$("#error").css('visibility', 'visible');
				}
			}
		});
	}
	/*]]*/ 
	</script>
	
</article>

</html>