<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column main-panel">
                <div id="content" class="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <div class="content">
				        <div class="container-fluid">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="card">
				                <div class="card-header card-header-primary">
				                  <h3 class="card-title ">권한 관리</h3>
				                </div>
				                <div class="card-body">
				                  <div class="table-responsive">
				                    <table class="table">
				                      <thead class=" text-primary">
				                        <th>사용자</th>
				                        <th>건물명</th>
				                        <th>권한</th>
				                        <th>호수</th>
				                        <th>비고</th>
				                        <th></th>
				                      </thead>
				                      <tbody>
				                        <tr th:each="build : ${buildingList}">
				                          <td th:text="${build.bid}">1</td>
				                          <td th:text="${build.bnm}">Dakota Rice</td>
				                          <td th:text="${build.rid}">Niger</td>
				                          <td th:text="${build.rnm}">Niger</td>
				                          <td th:text="${build.bnm}">Dakota Rice</td>
				                          <td class="td-actions text-right">
				                          
				                            <button type="button" rel="tooltip" title="Edit Task" 
				                                    th:data-bid="${build.bid}" 
				                                    th:data-rid="${build.rid}" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#authPopup">
				                              <i class="material-icons">edit</i>
				                            </button>
				                            
				                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
				                              <i class="material-icons">close</i>
				                            </button>
				                            
				                          </td>
				                        </tr>
				                      </tbody>
				                    </table>
				                    
				                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#authPopup">
									  권한 추가
									</button>
									
									<!-- Modal -->
									<article id="modal" th:replace="fragments/popup/authPopup :: authPopup()"></article>
									<!-- <th:block th:replace="fragments/popup/userPopup :: userPopup()"></th:block> -->
									
				                  </div>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
                </div>
            </div>
        </div>

        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
        
        <script th:inline="javascript">
        var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		$('#userPopup').on('show.bs.modal', function(e) {
			
			var bid = $(e.relatedTarget).data('bid');
			var rid = $(e.relatedTarget).data('rid');
			
			if(bid == undefined && rid == undefined) {

				return;
				
			} else {
				
				$.ajax({
					type : "POST",
					data : {"bid" : bid, "rid" : rid},
					beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					url : "/buildModify",
					success : function(data) {
						$("#exampleModalLongTitle").text("건물정보 수정");
						for (const [key, value] of Object.entries(data)) {
							$('#' + `${key}`).val(`${value}`);
							$('#' + `${key}`).blur();
						}
	                }
				});
			}
			
		});
        </script>
        
    </body>
</html>