<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column main-panel">
                <div id="content" class="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <div class="content">
				        <div class="container-fluid">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="card">
				                <div class="card-header card-header-primary">
				                  <h3 class="card-title ">건축물 관리</h3>
				                </div>
				                <div class="card-body">
				                  <div class="table-responsive">
				                    <table class="table">
				                      <thead class=" text-primary">
				                        <th>건축물 관리번호</th>
				                        <th>건축물 명칭</th>
				                        <th>호수 관리번호</th>
				                        <th>호수</th>
				                        <th></th>
				                      </thead>
				                      <tbody>
				                        <tr th:each="build : ${buildingList}">
				                          <td th:text="${build.bid}">1</td>
				                          <td th:text="${build.bnm}">Dakota Rice</td>
				                          <td th:text="${build.rid}">Niger</td>
				                          <td th:text="${build.rnm}">Niger</td>
				                          <td class="td-actions text-right">
				                          
				                            <button type="button" 
				                                    th:data-bid="${build.bid}" 
				                                    th:data-rid="${build.rid}" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#buildPopup">
				                              <i class="material-icons">edit</i>
				                            </button>
				                            
				                            <button id="btn_deleteBuild" 
				                                    type="button"
				                                    class="btn btn-danger btn-link btn-sm"
				                                    th:onclick="deleteBuild([[${build.bid}]],[[${build.rid}]])" >
				                              <i class="material-icons">close</i>
				                            </button>
				                            
				                          </td>
				                        </tr>
				                      </tbody>
				                    </table>
				                    
				                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#buildPopup">
									  건축물 정보 추가
									</button>
									
									<!-- Modal -->
									<article id="modal" th:replace="fragments/popup/buildPopup :: buildPopup()"></article>
									<!-- <th:block th:replace="fragments/popup/userPopup :: userPopup()"></th:block> -->
									
				                  </div>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
                </div>
            </div>
        </div>

        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
        
        <script th:inline="javascript">
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		/*<![CDATA[*/
		var buildVO = {
				vo:[[${buildingList}]]
		};
		/*]]*/
		
		$('#buildPopup').on('show.bs.modal', function(e) {
		
			var bid = $(e.relatedTarget).data('bid');
			var rid = $(e.relatedTarget).data('rid');
			
			console.log(bid + " // " + rid);
			
			if(bid == undefined && rid == undefined) {
				
				//신규 추가
				$("#edt_type").val("insert");
				$("#edt_rid").removeAttr("disabled");
				return;
				
			} else {
				
				//수정
				$("#edt_type").val("update");
				$("#edt_rid").attr("disabled",true);
				
				$.ajax({
					type : "POST",
					data : {"bid" : bid, "rid" : rid},
					beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					url : "/selectBuild",
					success : function(data) {
						$("#exampleModalLongTitle").text("건축물 정보 수정");
						console.log(data.DATA);
						if(data.CODE == "0") {
							$("#cmb_bid").val(data.DATA.bid);
							$("#edt_rid").val(data.DATA.rid);
							$("#edt_rnm").val(data.DATA.rnm);	
						}
	                }
				});
			}
			
		});
		
		//화면 재조회를 위한 이벤트
		$('#buildPopup').on('hide.bs.modal', function(e) {
			location.reload();
		});
		
		function deleteBuild(bid, rid) {
			
			var arg;
			
			console.log(bid + " // " + rid);
			console.log(buildVO.vo);
			for(var i = 0; i < buildVO.vo.length; i++) {
				if(buildVO.vo[i].bid == bid 
				&& buildVO.vo[i].rid == rid) {
					arg = buildVO.vo[i];
					break;
				}
			}
			var rtn = confirm("\'" + arg.bnm + "\'의 \'" + arg.rnm + "\' 항목을 삭제하시겠습니까?");
			console.log("result :: " + rtn);
			
			if(rtn) {
				$.ajax({
					type : "POST",
					data : {"bid" : arg.bid, "rid" : arg.rid},
					beforeSend : function(xhr)
		            {   
						xhr.setRequestHeader(header, token);
		            },
					url : "/deleteBuild",
					success : function(data) {
						console.log(data);
						if(data.CODE == "0") {
							location.reload();
						} else {
							alert("[" + data.CODE + "]" + data.MSG);
						}
	                }
				});	
			}
		}
        </script>
        
    </body>
</html>