<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column main-panel">
                <div id="content" class="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <div class="content">
				        <div class="container-fluid">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="card">
				                <div class="card-header card-header-tabs card-header-primary">
				                  <div class="nav-tabs-navigation">
				                    <div class="nav-tabs-wrapper">
				                      <ul class="nav nav-tabs" data-tabs="tabs">
				                        <li id="tab_uprcode" class="nav-item">
				                          <a class="nav-link active show" href="#grd_bbs" data-toggle="tab" id="btn_bbs">
				                            <h3 class="card-title ">공지사항</h3>
				                            <div class="ripple-container"></div>
				                          </a>
				                        </li>
				                        <li id="tab_code" class="nav-item">
				                          <a class="nav-link" href="#grd_notice" data-toggle="tab" id="btn_notice">
				                            <h3 class="card-title">게시판</h3>
				                            <div class="ripple-container"></div>
				                          </a>
				                        </li>
				                      </ul>
				                    </div>
				                  </div>
				                </div>
				                <div class="card-body">
				                  <div class="tab-content">
					                    <div class="tab-pane active" id="grd_bbs">
					                      <table class="table table-hover">
						                      <thead class=" text-primary">
						                        <th>No.</th>
						                        <th>게시물</th>
						                        <th>조회수</th>
						                        <th>작성자</th>
						                        <th>작성일자</th>
						                        <th></th>
						                      </thead>
						                      <tbody>
						                        <tr th:each="bbsList : ${bbsList}" style="cursor: pointer;">
						                          <td th:text="${bbsList.sid}">1</td>
						                          <td th:text="${bbsList.title}"
						                              th:onclick="rowClickEvent([[${bbsList}]])">title</td>
						                          <td th:text="${bbsList.viewcnt}"
						                              th:onclick="rowClickEvent([[${bbsList}]])">Niger</td>
						                          <td th:text="${bbsList.writer}"
						                              th:onclick="rowClickEvent([[${bbsList}]])">Niger</td>
						                          <td th:text="${bbsList.writedate}"
						                              th:onclick="rowClickEvent([[${bbsList}]])">Niger</td>
						                          <td class="td-actions text-right" style="text-align: right !important;">
						                          
						                            <button type="button" rel="tooltip" title="Edit Task" 
						                                    th:if="${bbsList.isupdate}"
						                                    th:onclick="modalNotice([[${bbsList.sid}]], [[${bbsList.cid}]],[[${bbsList.bid}]])"  
						                                    class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#bbsPopup">
						                              <i class="material-icons">edit</i>
						                            </button>
						                            
						                            <button type="button" rel="tooltip" title="Remove" 
						                                    th:if="${bbsList.isupdate}"
						                                    th:onclick="deleteNotice([[${bbsList.title}]], [[${bbsList.sid}]],[[${bbsList.cid}]], [[${bbsList.bid}]])"  
						                                    class="btn btn-danger btn-link btn-sm">
						                              <i class="material-icons">close</i>
						                            </button>
						                            
						                          </td>
						                        </tr>
						                      </tbody>
						                    </table>
						                    
						                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bbsPopup">
											  공지사항 등록
											</button>
											
											<!-- Modal -->
											<article id="modal" th:replace="fragments/popup/bbsPopup :: bbsPopup()"></article>
											<!-- <th:block th:replace="fragments/popup/userPopup :: userPopup()"></th:block> -->
											
					                    </div>
					                   	<div class="tab-pane" id="grd_notice">
					                      <table class="table table-hover">
						                      <thead class=" text-primary">
						                        <th>No.</th>
						                        <th>게시물</th>
						                        <th>조회수</th>
						                        <th>작성자</th>
						                        <th>작성일자</th>
						                        <th></th>
						                      </thead>
						                      <tbody>
						                        <tr th:each="build : ${buildingList}">
						                          <td th:text="${build.bid}">1</td>
						                          <td th:text="${build.bnm}">Dakota Rice</td>
						                          <td th:text="${build.rid}">Niger</td>
						                          <td th:text="${build.rnm}">Niger</td>
						                          <td th:text="${build.rnm}">Niger</td>
						                          <td class="td-actions text-right">
						                          
						                            <button type="button" rel="tooltip" title="Edit Task" 
						                                    th:data-bid="${build.bid}" 
						                                    th:data-rid="${build.rid}" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#noticePopup">
						                              <i class="material-icons">edit</i>
						                            </button>
						                            
						                            <button type="button" rel="tooltip" title="Remove"
						                                    class="btn btn-danger btn-link btn-sm">
						                              <i class="material-icons">close</i>
						                            </button>
						                            
						                          </td>
						                        </tr>
						                      </tbody>
						                    </table>
						                    
						                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bbsPopup">
											  게시물 등록
											</button>
											
											<!-- Modal -->
											<article id="modal" th:replace="fragments/popup/bbsPopup :: bbsPopup()"></article>
											
					                    </div>
					                   
					                  </div>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
                </div>
            </div>
        </div>

        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
        
        <script th:inline="javascript">
        var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		function modalNotice(sid, cid, bid) {
			
			$("#grp_title").removeClass("bmd-form-group");
			$("#grp_link").removeClass("bmd-form-group");
			
			console.log("sid :: " + sid + " // cid :: " + cid);
			
			if(sid == undefined && cid == undefined && bid == undefined) {
				//신규 등록
				$("#edt_title").val();
				$("#ta_content").val();
				$("#edt_link").val();
				$("#cmb_build").val();
				$("#inputFile").val();
				
			} else {
				//단건 조회
				
				$.ajax({
					type : "POST",
					data : {"sid" : sid, "cid" : cid, "bid" : bid},
					beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					url : "/selectNotice",
					success : function(data) {
						$("#exampleModalLongTitle").text("게시물 수정");
						
						if(data.CODE == "0") {
							$("#edt_title").val(data.DATA.title);
							$("#ta_content").val(data.DATA.content);
							$("#grp_content").addClass("is-filled");
							$("#edt_link").val(data.DATA.link);
							$("#cmb_build").val(data.DATA.bid);
							
							//첨부관련 객체 제어
							$("#inputFile").css("display","none");
							$("#edt_file").css("display","block");
							$("#edt_file").val(data.DATA.filename);
							$("#edt_file").removeAttr("disabled");
							
							if(data.DATA.isupdate == 1) {
								$("#btn_delete").css("display","block");
							} else {
								$("#btn_delete").css("display","none");
							}
						}
	                }
				});
			}
		}
		
		//화면 재조회를 위한 이벤트
		$('#bbsPopup').on('hide.bs.modal', function(e) {
			location.reload();
		});
		
		function deleteNotice(title, sid, cid, bid) {
			
			var rtn = confirm("\'" + title + "\' 항목을 삭제하시겠습니까?");
			
			if(rtn) {
			
				$.ajax({
						type : "POST",
						data : {"sid" : sid, "cid" : cid, "bid" : bid},
						beforeSend : function(xhr)
			            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
							xhr.setRequestHeader(header, token);
			            },
						url : "/deleteNotice",
						success : function(data) {
							location.reload();
		                }
				});
			}
			
		}
		
		function rowClickEvent(row) {
			
			$("#grp_title").removeClass("bmd-form-group");
			$("#grp_link").removeClass("bmd-form-group");
			
			$("#bbsPopup").modal();
		}
        </script>
        
    </body>
</html>