<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column main-panel">
                <div id="content" class="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <div class="content">
				        <div class="container-fluid">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="card">
				                <div class="card-header card-header-tabs card-header-primary">
				                  <div class="nav-tabs-navigation">
				                    <div class="nav-tabs-wrapper">
				                      <ul class="nav nav-tabs" data-tabs="tabs">
				                        <li id="tab_uprcode" class="nav-item">
				                          <a class="nav-link active show" href="#grd_bbs" data-toggle="tab" id="btn_bbs">
				                            <h3 class="card-title ">공지사항</h3>
				                            <div class="ripple-container"></div>
				                          </a>
				                        </li>
				                        <li id="tab_code" class="nav-item">
				                          <a class="nav-link" href="#grd_notice" data-toggle="tab" id="btn_notice">
				                            <h3 class="card-title">게시판</h3>
				                            <div class="ripple-container"></div>
				                          </a>
				                        </li>
				                      </ul>
				                    </div>
				                  </div>
				                </div>
				                <div class="card-body">
				                  <div class="tab-content">
					                    <div class="tab-pane active" id="grd_bbs">
					                      <table class="table table-hover">
						                      <thead class=" text-primary">
						                        <th>No.</th>
						                        <th>게시물</th>
						                        <th>조회수</th>
						                        <th>작성자</th>
						                        <th>작성일자</th>
						                        <th></th>
						                      </thead>
						                      <tbody>
						                        <tr th:each="bbsList : ${bbsList}">
						                          <td th:text="${bbsList.sid}">1</td>
						                          <td th:text="${bbsList.title}">Dakota Rice</td>
						                          <td th:text="${bbsList.viewcnt}">Niger</td>
						                          <td th:text="${bbsList.writer}">Niger</td>
						                          <td th:text="${bbsList.writedate}">Niger</td>
						                          <td class="td-actions text-right">
						                          
						                            <button type="button" rel="tooltip" title="Edit Task" 
						                                    class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#noticePopup">
						                              <i class="material-icons">edit</i>
						                            </button>
						                            
						                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
						                              <i class="material-icons">close</i>
						                            </button>
						                            
						                          </td>
						                        </tr>
						                      </tbody>
						                    </table>
						                    
						                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bbsPopup">
											  공지사항 등록
											</button>
											
											<!-- Modal -->
											<article id="modal" th:replace="fragments/popup/bbsPopup :: bbsPopup()"></article>
											<!-- <th:block th:replace="fragments/popup/userPopup :: userPopup()"></th:block> -->
											
					                    </div>
					                   	<div class="tab-pane" id="grd_notice">
					                      <table class="table table-hover">
						                      <thead class=" text-primary">
						                        <th>No.</th>
						                        <th>게시물</th>
						                        <th>조회수</th>
						                        <th>작성자</th>
						                        <th>작성일자</th>
						                        <th></th>
						                      </thead>
						                      <tbody>
						                        <tr th:each="build : ${buildingList}">
						                          <td th:text="${build.bid}">1</td>
						                          <td th:text="${build.bnm}">Dakota Rice</td>
						                          <td th:text="${build.rid}">Niger</td>
						                          <td th:text="${build.rnm}">Niger</td>
						                          <td th:text="${build.rnm}">Niger</td>
						                          <td class="td-actions text-right">
						                          
						                            <button type="button" rel="tooltip" title="Edit Task" 
						                                    th:data-bid="${build.bid}" 
						                                    th:data-rid="${build.rid}" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#noticePopup">
						                              <i class="material-icons">edit</i>
						                            </button>
						                            
						                            <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
						                              <i class="material-icons">close</i>
						                            </button>
						                            
						                          </td>
						                        </tr>
						                      </tbody>
						                    </table>
						                    
						                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#bbsPopup">
											  게시물 등록
											</button>
											
											<!-- Modal -->
											<article id="modal" th:replace="fragments/popup/bbsPopup :: bbsPopup()"></article>
											
					                    </div>
					                   
					                  </div>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
                </div>
            </div>
        </div>

        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
        
        <script th:inline="javascript">
        var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		$('#bbsPopup').on('show.bs.modal', function(e) {
			
			$("#grp_title").removeClass("bmd-form-group");
			$("#grp_link").removeClass("bmd-form-group");
			
			return;
			
		});
        </script>
        
    </body>
</html>