<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <!-- 공통 헤더-->
    <th:block th:replace="fragments/head :: headFragment"></th:block>

    <body id="page-top">
        <div id="wrapper">
            <!-- 사이드바-->
            <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

            <div id="content-wrapper" class="d-flex flex-column main-panel">
                <div id="content" class="content">
                    <!-- 상단바-->
                    <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
                    <!-- 본문-->
                    <div class="content">
				        <div class="container-fluid">
				          <div class="row">
				            <div class="col-md-12">
				              <div class="card">
				                <div class="card-header card-header-tabs card-header-primary">
				                  <div class="nav-tabs-navigation">
				                    <div class="nav-tabs-wrapper">
				                      <ul class="nav nav-tabs" data-tabs="tabs">
				                        <li id="tab_uprcode" class="nav-item">
				                          <a class="nav-link active show" onclick="fn_tabMove('BBS')" id="btn_bbs">
				                            <h3 class="card-title ">공지사항</h3>
				                            <div class="ripple-container"></div>
				                          </a>
				                        </li>
				                        <li id="tab_notice" class="nav-item">
				                          <a class="nav-link" onclick="fn_tabMove('Notice')" id="btn_notice">
				                            <h3 class="card-title">일반문의</h3>
				                            <div class="ripple-container"></div>
				                          </a>
				                        </li>
				                      </ul>
				                    </div>
				                  </div>
				                </div>
				                <div class="card-body">
				                  <div class="tab-content">
					                    <div class="tab-pane active" id="grd_bbs">
					                      <table class="table table-hover" id="table_bbs">
						                      <thead class=" text-primary">
						                        <th>No.</th>
						                        <th>게시물</th>
						                        <th>조회수</th>
						                        <th>작성자</th>
						                        <th>작성일자</th>
						                      </thead>
						                      <tbody>
						                        <tr th:each="bbsList : ${bbsList}" style="cursor: pointer;">
						                          <td th:text="${bbsList.no}">1</td>
						                          <td th:text="${bbsList.title}"
						                              th:onclick="rowClickEvent('BBS','update',[[${bbsList}]])">title</td>
						                          <td th:text="${bbsList.viewcnt}"
						                              th:onclick="rowClickEvent('BBS','update',[[${bbsList}]])">Niger</td>
						                          <td th:text="${bbsList.writer}"
						                              th:onclick="rowClickEvent('BBS','update',[[${bbsList}]])">Niger</td>
						                          <td th:text="${bbsList.writedate}"
						                              th:onclick="rowClickEvent('BBS','update',[[${bbsList}]])">Niger</td>
						                        </tr>
						                      </tbody>
						                    </table>
						                    
						                    <button type="button" class="btn btn-primary pull-right"
						                            sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')"  
						                            onclick="rowClickEvent('BBS','insert')">
											등록
											</button>
											
											<!-- Modal -->
											<article id="modal" th:replace="fragments/popup/bbsPopup :: bbsPopup()"></article>
											<!-- <th:block th:replace="fragments/popup/userPopup :: userPopup()"></th:block> -->
											
					                    </div>
					                   	<div class="tab-pane" id="grd_notice">
					                      <table class="table table-hover" id="table_notice">
						                      <thead class=" text-primary">
						                        <th>No.</th>
						                        <th>게시물</th>
						                        <th>조회수</th>
						                        <th>작성자</th>
						                        <th>작성일자</th>
						                      </thead>
						                      <tbody>
						                        <tr th:each="noticeList : ${noticeList}" style="cursor: pointer;">
						                          <td th:text="${noticeList.no}">1</td>
						                          <td th:text="${noticeList.title}"
						                              th:onclick="rowClickEvent('Notice','update',[[${noticeList}]])">title</td>
						                          <td th:text="${noticeList.viewcnt}"
						                              th:onclick="rowClickEvent('Notice','update',[[${noticeList}]])">Niger</td>
						                          <td th:text="${noticeList.writer}"
						                              th:onclick="rowClickEvent('Notice','update',[[${noticeList}]])">Niger</td>
						                          <td th:text="${noticeList.writedate}"
						                              th:onclick="rowClickEvent('Notice','update',[[${noticeList}]])">Niger</td>
						                        </tr>
						                      </tbody>
						                    </table>
						                    
						                    <button type="button" class="btn btn-primary pull-right" 
						                            sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')"  
						                            onclick="rowClickEvent('Notice','insert')">>
											등록
											</button>
											
											<!-- Modal -->
											<article id="modal" th:replace="fragments/popup/noticePopup :: noticePopup()"></article>
											
					                    </div>
					                   
					                  </div>
				                </div>
				              </div>
				            </div>
				          </div>
				        </div>
				      </div>
                </div>
            </div>
        </div>

        <!-- 공통 스크립트 -->
        <th:block th:replace="fragments/script :: scriptFragment"></th:block>
        
        <script th:inline="javascript">
        var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		//화면 재조회를 위한 이벤트
		$('#bbsPopup').on('hide.bs.modal', function(e) {
			fn_tabMove("bbs");
		});
		
		//화면 재조회를 위한 이벤트
		$('#noticePopup').on('hide.bs.modal', function(e) {
			fn_tabMove("notice");
		});
		
		function deleteNotice(title, sid, cid, bid) {
			
			var rtn = confirm("\'" + title + "\' 항목을 삭제하시겠습니까?");
			
			if(rtn) {
			
				$.ajax({
						type : "POST",
						data : {"sid" : sid, "cid" : cid, "bid" : bid},
						beforeSend : function(xhr)
			            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
							xhr.setRequestHeader(header, token);
			            },
						url : "/deleteNotice",
						success : function(data) {
							location.reload();
		                }
				});
			}
			
		}
		
		function rowClickEvent(type, gbn, row) {
			
			$("#grp_title" + type).removeClass("bmd-form-group");
			$("#grp_link" + type).removeClass("bmd-form-group");
			
			if(gbn == "insert") {
				
				$("#fv_gbn" + type).val(gbn);
				$("#sta_title" + type).text("공지사항 등록");
				$("#btn_save" + type).text("저장");
				$("#btn_delete" + type).css("display","none");
				
				if(type == "BBS") {
					$("#bbsPopup").modal();	
				} else if(type == "Notice") {
					$("#noticePopup").modal();
				}
				
			} else {
				
				var fv_url = "/select" + type;  
					
				console.log("inputData :: ");
				console.log(row);
				$.ajax({
					type : "POST",
					data : {"sid" : row.sid, "cid" : row.cid, "bid" : row.bid},
					beforeSend : function(xhr)
		            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
						xhr.setRequestHeader(header, token);
		            },
					url : fv_url,
					success : function(data) {
						
						console.log("outputData :: ");
						console.log(data)
						if(data.CODE == "0") {
							
							//modal화면에 key값 입력
							$("#fv_gbn" + type).val(gbn);
							$("#fv_sid" + type).val(data.DATA.sid);
							$("#fv_cid" + type).val(data.DATA.cid);
							$("#fv_bid" + type).val(data.DATA.bid);
							
							$("#ta_content" + type).val(data.DATA.content);
							$("#grp_content" + type).addClass("is-filled");
							$("#edt_link" + type).val(data.DATA.link);
							$("#cmb_build" + type).val(data.DATA.bid);
							$("#edt_title" + type).val(data.DATA.title);
							
							//첨부관련 객체 제어
							$("#inputFile" + type).css("display","none");
							$("#edt_file" + type).css("display","block");
							$("#edt_file" + type).val(data.DATA.filename);
							$("#edt_file" + type).removeAttr("disabled");
							
							if(data.DATA.isupdate == 1) {
								$("#sta_title" + type).text("공지사항 수정");
								$("#upr_title" + type).css("display","block");

								$("#edt_title" + type).removeAttr("readonly"); 
								$("#ta_content" + type).removeAttr("readonly"); 
								$("#edt_link" + type).removeAttr("readonly"); 
								$("#cmb_build" + type).removeAttr("disabled"); 
								
								$("#btn_delFile" + type).css("display","initial");
								$("#btn_save" + type).css("display","initial");
								$("#btn_delete" + type).css("display","initial");
								$("#grp_error" + type).css("display","block");
							} else {
								$("#sta_title" + type).text(data.DATA.title);
								$("#upr_title" + type).css("display","none");
								
								$("#edt_title" + type).attr("readonly",true);
								$("#ta_content" + type).attr("readonly",true);
								$("#edt_link" + type).attr("readonly",true);
								$("#cmb_build" + type).attr("disabled",true); 
								
								$("#btn_delFile" + type).css("display","none");
								$("#btn_save" + type).css("display","none");
								$("#btn_delete" + type).css("display","none");
								$("#grp_error" + type).css("display","none");
							}
							
							if(type == "BBS") {
								$("#bbsPopup").modal();	
							} else if(type == "Notice") {
								$("#noticePopup").modal();
							}
						}
	                }
				});	
			}
		}
		
		function fn_tabMove(type) {
			
			var fv_url = "/" + type + "List";
			
			$.ajax({
				type : "POST",
				data : "",
				beforeSend : function(xhr)
	            {   
					xhr.setRequestHeader(header, token);
	            },
				url : fv_url,
				success : function(data) {
					if(data != null
					&& type == "Notice") {
						
						$("#tab_notice").show();
						$("#btn_bbs").removeClass("active show");
						$("#btn_notice").addClass("active show");
						$("#grd_bbs").removeClass("active");
						$("#grd_notice").addClass("active");
						$("#table_notice").replaceWith(data);
					} else if(data != null
						   && type == "BBS") {
						
						$("#tab_bbs").show();
						$("#btn_notice").removeClass("active show");
						$("#btn_bbs"   ).addClass(   "active show");
						$("#grd_notice").removeClass("active");
						$("#grd_bbs"   ).addClass(   "active");
						$("#table_bbs" ).replaceWith(data);
					}
					
                }
			});	
		}
        </script>
        
    </body>
</html>