<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<!-- 공통 헤더-->
	<th:block th:replace="fragments/head :: headFragment"></th:block>
	
	<body id="page-top">
	
		<div id="wrapper">
		
			<!-- 사이드바-->
			<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
			
			<div id="content-wrapper" class="d-flex flex-column main-panel">
			
				<div id="content" class="content">
				
					<!-- 상단바-->
					<th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
					
					<!-- 본문-->
					<div class="content">
					
						<div class="container-fluid">
						
							<div class="row">
							
								<div class="col-md-12">
								
									<div class="card">
									
										<div class="card-header card-header-primary">
											<h2 class="card-title ">사용자 목록</h2>
										</div>
										
										<div class="card-body">
										
											<div class="table-responsive">
											
												<table class="table">
												
													<thead class=" text-primary">
													<!-- <th>ID</th> -->
														<th>계정명</th>
														<th>사용여부</th>
														<th>권한</th>
														<th>건물</th>
														<th>호수</th>
														<th></th>
													</thead>
													
													<tbody>
														<tr th:each="user : ${userVO}">
														<!-- <td th:text="${user.UID}">ID</td> -->
															<td th:text="${user.USERNM}">NAME</td>
															<td>
																<div class="form-check">
																	<label class="form-check-label">
																	<input class="form-check-input" type="checkbox" th:checked="${user.USEYN}" value="" checked>
																	<span class="form-check-sign">
																	<span class="check"></span>
																	</span>
																	</label>
																</div>
															</td>
														<!-- <td th:text="${user.ISDEL}">isDel</td> -->
														<td th:text="${user.ROLE}">rold</td>
														<td></td>
														<td></td>
														<td class="td-actions text-right">
														<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-link btn-sm" data-toggle="modal" data-target="#userPopup">
														<i class="material-icons">edit</i>
														</button>
														<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
														<i class="material-icons">close</i>
														</button>
														</td>
														</tr>
													</tbody>
													
												</table>
												
												<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#userPopup">
												사용자 추가
												</button>
												
												<!-- Modal -->
												<article th:replace="fragments/popup/userPopup :: userPopup(${userVO})"></article>
												<!-- <th:block th:replace="fragments/popup/userPopup :: userPopup()"></th:block> -->
												
											</div>
											
										</div>
										
									</div>
									
								</div>
								
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		<!-- 공통 스크립트 -->
		<th:block th:replace="fragments/script :: scriptFragment"></th:block>
		
	</body>
	
</html>