<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
         	다세대 주거 관리 시스템
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item " th:classappend="${pageInfo} == dashboard ? active">
            <a class="nav-link" href="/index">
              <i class="material-icons">dashboard</i>
              <p>메인</p>
            </a>
          </li>
          <!-- <li class="nav-item " th:classappend="${pageInfo} == userProfile ? active">
            <a class="nav-link" href="/userProfile">
              <i class="material-icons">person</i>
              <p>사용자 정보</p>
            </a>
          </li> -->
          <li class="nav-item "
              sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')" 
              th:classappend="${pageInfo} == userList ? active">
            <a class="nav-link" href="/userList">
              <i class="material-icons">content_paste</i>
              <p>사용자 관리</p>
            </a>
          </li>
          <li class="nav-item "
          	  sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')" 
              th:classappend="${pageInfo} == buildingList ? active">
            <a class="nav-link" href="/buildingList">
              <i class="material-icons">apartment</i>
              <p>건물 관리</p>
            </a>
          </li>
          <li class="nav-item "
              sec:authorize="hasRole('ROLE_ADMIN')" 
              th:classappend="${pageInfo} == codeList ? active">
            <a class="nav-link" href="/codeList">
              <i class="material-icons">source</i>
              <p>코드 관리</p>
            </a>
          </li>
          <li class="nav-item "
              sec:authorize="hasRole('ROLE_ADMIN') || hasRole('ROLE_MANAGER')"
              th:classappend="${pageInfo} == authList ? active">
            <a class="nav-link" href="/authList">
              <i class="material-icons">library_books</i>
              <p>권한 관리</p>
            </a>
          </li>
          <li class="nav-item " th:classappend="${pageInfo} == noticeBoard ? active">
            <a class="nav-link" href="/noticeBoard">
              <i class="material-icons">view_list</i>
              <p>게시판</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <script>
    
    </script>
    <!-- End of Sidebar -->
	
</th:block>

</html>